<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <div class="circle">
          <br />
          You know
          <br />
          you're in
          <br />
          Colorado
        </div>
      </div>
      <div class="col-4 slogan">
        If it feels like a different world...it's probably Colorado
      </div>
      <div class="col-5 links">
        <%= link_to 'Contribute', '#' %>
        <%= link_to 'About', '#' %>
      </div>
    </header>
    
    <hr />
    
    <br>
    <br class="clear" />
      <%= yield %>
    <br>
    <br>
    <br>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="row">
          <div class="col-6">
            <%= link_to "Show me more!", "#", class: 'next-quote' %>          
          </div>
          <div class="col-6 footer-blurb">
            Clearly Colorado bred...
          </div>
        </div>
      </div>
      </div>
    </div>  
    
  </body>
</html>
